.app-footer {
    text-align: center;
    font-style: italic;
    font-size: 1.3em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: azure;
    color: black;
   
}